.katalog{
  max-width: 768px;
  margin: auto;
}

.bicycleList{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px
}

@media screen and (max-width: 768px){
  .bicycleList{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media screen and (max-width: 640px){
  .bicycleList{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media screen and (max-width: 480px){
  .bicycleList{
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}